@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.key {
  width: 40px;
  height: 150px;
  border: 1px solid #000;
  background-color: #fff;
  margin-right: 2px;
  cursor: pointer;
}
.key.black {
  background-color: #000;
  height: 100px;
  width: 30px;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 1;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
